.Task {
  font-family: sans-serif;
  text-align: center;
  background: #34a65a;
}
h3 {
  font-weight: 200;
  text-shadow: 1px 1px 3px gray;
}
.container {
  height: 90vh;
  width: 80vw;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.small-box {
  width: 40%;
  box-shadow: 3px 3px 50px 2px rgb(56, 54, 54);
  background-color: rgb(251, 251, 251);
}

.task {
  border: 1px solid rgb(165, 49, 49);
  background: #fefefe;
  margin: 10px;
  box-shadow: 1px 3px 20px gray;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dragged {
  background-color: rgba(215, 14, 14, 0.3);
  opacity: 0.5;
  cursor: pointer;
}
.dragged-over {
  background: rgb(244, 2, 2);
  .task {
    background: rgba(252, 252, 252, 0.1);
  }
}
