body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #F3F6F9!important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.board-items {
  display: flex;
  padding-inline: 2rem;
  padding: 0;
  overflow-x: auto;
  scrollbar-width: thin;
}
.board-title {
  text-align: center;
  padding: 18px;
  background-color: #425e8d;
  color: #fff;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.board-item {
  display: flex;
  padding: 0 10px;
  flex-direction: column;
  /* min-width: 300px; */
  word-wrap: break-word;
  background-clip: border-box;
  /* max-width: 400px; */
  width: 100%;
  margin-right: 15px;
  border-radius: 5px;
  background-color: #f3f6f9;

  /* height: calc(100vh - 120px);
  overflow-x: hidden;
  scrollbar-width: none; */
}
.board-hight::-webkit-scrollbar {
  width: 2px;
}
.card-fooot img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
}
.draggable-box .dropdown-toggle {
  border: 0;
  padding: 0;
  height: auto;
}
.board-hight::-webkit-scrollbar-thumb {
  background: #425e8d;
}
.time-format {
  opacity: 0.5;
}
.prio-icon svg {
  height: 25px;
  width: 25px;
}
.board-item .prio-icon .Normal svg path {
  stroke: blue !important;
  fill: blue !important;
}
.board-item .prio-icon .high svg path,
.board-item .prio-icon .Highest svg path {
  color: red !important;
  /* fill: red !important; */
}
.board-item .prio-icon .low svg path {
  stroke: gray !important;
  /* fill: gray !important; */
}
.board-item:last-child {
  margin-right: 0;
}
.task-header {
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  display: flex;
  align-items: center;
  /* margin-bottom: 20px
px
; */
  padding: 15px;
  height: 50px;
}
.task-header.not-started-col,
.board-hight .btn {
  color: #425e8d;
}
/* .task-header.not-started-col .task-number {
  background: #808ea7;
  color: #f3f6f9;
} */
.task-header .task-number {
  /* font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  min-width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-left: 5px; */
  /* padding: 0 6px; */
}
/* .table-section-col {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
} */
.board-item path {
  stroke: #425e8d !important;
}
.board-hight {
  /* height: calc(100vh - 310px); */
  overflow-x: hidden;
  scrollbar-width: none;

  height: calc(100vh - 222px);
}
.btn-dark {
  background-color: #425e8d !important;
  border-color: #425e8d !important;
}
.modal-header {
  color: #425e8d !important;
}
.draggable-box {
  width: 100%;
  cursor: pointer;

  /* border-radius: 20px; */
  min-height: 5em;
  padding: 20px;
  margin-bottom: 15px;
  background-color: #ffffff;
  /* border-radius: 20px; */
  padding: 16px;
  border: 0;
  border-radius: 2px;
  /* box-shadow: 0px 1px 11px 0px rgb(0 0 0 / 0.1); */
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: rgba(149, 157, 165, 0.2) 1px 2px 0px 0px;
}

.draggable-box:last-child {
  margin-bottom: 0;
}

.blink {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.edit  {
  fill: #425e8d !important;
}
.delete  {
  fill: red !important;
}
.arrow-container {
  width: 25px;
  /* cubic-bezier-easing = sine / mehr Beispiele: https://easings.net/ */
  animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
  height: 20px;
  margin-top: 19px;
  padding-bottom: 36px;
  margin-left: 60px;
}
.blink {
  color: red;
  font-size: 1.3rem;
  /* padding-right: 29px; */
}

.arrow-down {
  height: 6px;
  background: red;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
  border-radius: 5px;
}
.arrow-down:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 100%;
  border-radius: 5px;
  background: red;
  transform: rotate(-90deg);
  transform-origin: 0% 100%;
}

@keyframes bounce {
  50% {
    transform: translateY(-15px);
  }
}